// 所有不同 type 按钮自定义样式
@import '../../style/variable.scss';

// 按钮类型的配置
$type: (
  primary: (
    color: $at-light-text,
    background-color: $at-primary,
  ),
  secondary: (
    color: $at-text,
    background-color: $at-block,
    border-color: $at-line,
  ),
  text: (
    padding: 0,
    color: $at-brand-active,
  ),
);

// 伪类的配置
$pseudo: (
  primary: (
    hover: (
      background-color: $at-primary-hover,
    ),
    focus: (
      background-color: $at-primary-hover,
    ),
    active: (
      background-color: $at-primary-active,
    ),
  ),
  secondary: (
    hover: (
      border-color: $at-form-control-line-active,
      color: $at-brand-active,
    ),
    focus: (
      border-color: $at-form-control-line-active,
      color: $at-brand-active,
    ),
    active: (
      border-color: $at-form-control-line-active,
      color: $at-brand-active,
    ),
  ),
  text: (
    hover: (
      color: $at-brand-active-focus,
    ),
    focus: (
      color: $at-brand-active-focus,
    ),
    active: (
      color: $at-brand-active-focus,
    ),
  )
);
